@model IEnumerable<DDAC.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleID })
        </td>
    </tr>
}

</table>
